*{
    margin: 0;
    font-family: Arial;
    border: border-box;
    
}
ul li.dropdown{
    display: block;
    width: 100%;
    background: #22438c;
    position: absolute;
    display: none;
}
.navbar{
    height: 50px;
    /* width: 600px; */
    background-color: #0f1111;
    color: rgb(250, 246, 246);
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
    display: flex;
}
    
.border{
    border: 1.5px solid transparent;
}
.add-icon{
    display: flex;
    /* margin-top: 3px; */
}
.border:hover{
    border: 1.5px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;
}
.add-second{
    font-size: 1rem;
    /* display: flex; */
    margin-left:3px;
}
.nav-search{
    display:flex ;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 4px;
}
.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: rgb(255,174,0);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #0f1111;
}
.nav-search:hover{
    border: 2px solid orange;
}
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700;
}
.nav-cart{
    font-size:1.2rem ;
}
.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel a{
    color: white;
    display: inline;
    justify-content: space-evenly; 
    text-decoration: none;
    margin-left: 15px;
}
/* .panel-ops p{
    display: inline;
    margin-left: 15px; */

.panel-ops{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals a{
    font-size: 0.9rem;
    font-weight: 700;
}
.hero-section{
    background-image: url("1st image.jpg");
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-msg{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 11px;
}
.hero-msg a{
    color: #007185;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
}
.box{
    /* border: 2px solid black; */
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    text-decoration: none;
}
.box-img{
    height: 300px;
    width: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content{
    margin-left: 1rem;
    margin-right: 1rem;
}
.box-content p{
    color: #007185;
}
.box a{
    text-decoration: none;
}
footer{
    margin-top: 15px;
}
.foot-panel1{
    background-color: #37475a;
    color: white;
    height: 150px;
    display: flex;
    justify-content: center;
    /* align-items: center;
    font-size: 0.85rem; */
}
ul{
    margin-top: 10px;
    
}
ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}
.foot-panel4{
    background-color: #1b6d85 ;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}
.pages{
    padding-top: 25px;
    
}
.Copyright{
    padding-top: 5px;
    /* background-color:#007185 ; */
}